[submodule "libs/mbedtls/mbedtls"]
	path = libs/mbedtls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libs/spdlog/spdlog"]
	path = libs/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
